<% if !@providers.empty? %>
  $('.container').css('display', 'block');
  $('#entry_provider').prop('disabled', false);

  
  <% if (@providers.count > 1) %>
	$('#entry_provider').append($("<option></option>")
                      .attr("value", "")
                      .text("Select Provider"));
  <% end %>

  <% @providers.each do |p| %>

	  $('#entry_provider').append($("<option></option>")
	                      .attr("value", "<%= p.provider.html_safe %>")
	                      .text("<%= p.provider.html_safe %>"));

    $('#zip-go').attr("disabled", true);

  <% end %>

<% else %>
  alert('No providers found for that zip code');
<% end %>