$blue: #00ccff;
$green: #00b36f;
$gray: #f9f9f9;

.blue { color: $blue; }

.green { color: $green; }

.bg-gray { background-color: $gray; }

.shadow-blue {
	box-shadow: 1px 1px 5px #00ccff;
}

.checks {
	list-style-image: url('/assets/check2.png');
}

.red {
	color: red;
}

